.sidebar.bg-white.p-relative.p-20
    h3.p-relative.txt-c.mt-0 #{sidebarTitle}
    ul
        li
            a.active.tr-3ms.d-flex.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='index.html')
                i.fa-regular.fa-chart-bar.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[0]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='settings.html')
                i.fa-solid.fa-gear.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[1]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='profile.html')
                i.fa-regular.fa-user.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[2]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='projects.html')
                i.fa-solid.fa-diagram-project.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[3]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='courses.html')
                i.fa-solid.fa-graduation-cap.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[4]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='friends.html')
                i.fa-regular.fa-circle-user.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[5]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='files.html')
                i.fa-regular.fa-file.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[6]}
        li
            a.d-flex.tr-3ms.align-center.fs-14.c-black.rad-6.p-10.mb-5(href='plans.html')
                i.fa-regular.fa-credit-card.fa-fw
                span.fs-14.ml-10 #{arrayOfTitles[7]}

        